@font-face {
    src: url(../fonts/Brandon_reg.otf);
    font-family: Brandon_reg;
}

@font-face {
    src: url(../fonts/Brandon_med.otf);
    font-family: Brandon_med;
}

@font-face {
    src: url(../fonts/Brandon_light.otf);
    font-family: Brandon_light;
}

@font-face {
    src: url(../fonts/Brandon_bld.otf);
    font-family: Brandon_bld;
}

* {
    margin: 0;
    padding: 0;
}


/* frequently used preset start */

.regular_h2 {
    font-family: Brandon_light;
    font-size: 60px;
    font-weight: 300;
    text-transform: capitalize;
    display: inline-block;
}

.b_span {
    font-family: Brandon_bld;
    font-size: 60px;
    font-weight: 700;
}

/* frequently used preset end */

/* header section start */

.container {
    width: 100%;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.logo {
    padding: 50px 0;
    width: 9%;
    float: left;
}

.logo img {
    width: 100%;
}

.menu {
    width: 100%;
}

.menu ul {
    float: right;
}

.menu ul li {
    padding: 50px 0;
    list-style: none;
    float: left;
}

.menu ul li a {
    margin: 0 20px;
    font-family: Brandon_med;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: cornflowerblue;
    border-bottom: 2px solid #ffffff;
    font-size: 18px;
}

.wrapper h1 {
    margin: 15px 0 0 0;
    font-family: Brandon_bld;
    font-size: 66px;
    color: #ffffff;
    text-transform: uppercase;
}

.wrapper h3 {
    margin: 250px 0 auto;
    font-family: Brandon_light;
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
    text-transform: none;
}

.btn {
    margin: 80px 0 120px;
    width: 240px;
    height: 60px;
    font-family: Brandon_bld;
    font-size: 23px;
    text-transform: capitalize;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
    transition: .3s;
}

/* header section end */

/* development section end*/

.container2 {
    margin: 0 auto;
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
}

.development {
    margin: 100px 50px 0 0;
    width: 55%;
    float: left;
    display: inline-block;
}

.development p {
    padding: 30px 0;
    font-family: Brandon_reg;
    font-size: 18px;
    font-weight: 400;
    color: #777777;
    display: inline-block;
}

.design {
    margin: 115px 0;
    padding-right: 150px;
    width: 20%;
    float: right;
}

.design img {
    width: 100%;
    margin-top: 35px;
}

/* development section end*/

/* branding section start */

.container3 {
    background-color: #fafafa;
    overflow: hidden;
}

.brand_wrap {
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
}

.branding_text {
    padding: 100px 100px 0 50px;
    width: 60%;
    float: right;
    display: inline-block;
}

.branding_text p {
    padding: 30px 0;
    font-family: Brandon_reg;
    font-size: 18px;
    font-weight: 400;
    color: #777777;
    display: inline-block;
}

.branding_icon {
    margin: 150px 0;
    width: 22%;
    float: left;
}

.branding_icon img {
    width: 100%;
}

/* branding section end */

/* service section start */

.s_wrapper {
    width: 60%;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden
}

.service {
    width: 45%;
    float: left;
}

.service:nth-child(even) {
    float: right;
    margin-right: 0;
}

.s_img {
    width: 15%;
    margin-top: 5px;
    display: inline-block;
}

.s_img img {
    width: 100%;
    margin-top: 5px;
}

.s_text {
    width: 80%;
    margin-bottom: 50px;
    float: right;
    margin-top: 0;
    line-height: 1.6;
}

.s_text h4 {
    font-family: Brandon_reg;
    font-size: 22px;
    font-weight: 500;
    color: #222222;
    display: inline-block;
}

.s_text p {
    font-family: Brandon_reg;
    font-size: 18px;
    font-weight: 400;
    color: #777777;
    display: inline-block;
}

/* service section end */

/* clients section start */

.client {
    width: 100%;
    margin: 0 auto;
    background-color: #fafafa;
}

.client_title {
    padding-top: 100px;
    text-align: center;
}

.client_title p {
    font-family: Brandon_reg;
    font-size: 22px;
    font-weight: 400;
    color: #777777;
}

.cc {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden;
}

.photowrap {
    padding-bottom: 40px;
}

.client_photo {
    width: 20%;
    float: left;
}

.client_photo img {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.client_comment {
    margin-left: 40px;
    padding: 40px 80px 40px;
    width: 50%;
    display: inline-block;
    float: left;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    position: relative;
}

.client_comment:before {
    position: absolute;
    content: "";
    top: 100px;
    left: -25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 35px solid #ffffff;
    border-bottom: 15px solid transparent;
}

.client_comment2 {
    margin-left: 35px;
    padding: 40px 80px 40px;
    width: 50%;
    display: inline-block;
    float: left;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    position: relative;
}

.client_comment2:before {
    position: absolute;
    content: "";
    top: 100px;
    right: -25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 35px solid #ffffff;
    border-bottom: 15px solid transparent;
}

.client_comment2 h4,
.client_comment h4 {
    font-family: Brandon_reg;
    font-size: 26px;
    font-weight: 400;
    color: #777777;
    line-height: 1.6;
}

.client_comment2 p,
.client_comment p {
    margin-top: 15px;
    font-family: Brandon_reg;
    font-size: 20px;
    font-weight: 400;
    color: #7690c5;
}

.client_photo2 {
    margin-top: 20px;
    width: 20%;
    float: left;
    margin-left: 25px;
}

.client_photo2 img {
    width: 100%;
    display: inline-block;
}

/* clients logo start */

.client_logo {
    background-color: #ffffff;
    overflow: hidden;
}

.clogo_wrapper {
    width: 60%;
    margin: 0 auto;
    padding: 70px 0;
}

.company_logo {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10
}

.clogo {
    float: left;
    margin-left: 30px;
}

.clogo img {
    width: 100%;
}

/* client section end*/

/* team section start */

.team {
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    background-color: #000000;
    overflow: hidden;
}

.t_wrapper {
    margin: 0 auto;
    width: 65%;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
}

.team_title {
    text-align: center;
}

.team_title h2 {
    font-family: Brandon_light;
    font-size: 60px;
    font-weight: 300;
    text-transform: capitalize;
    display: inline-block;
    color: #ffffff;
}

.team_span {
    font-family: Brandon_bld;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}

.team_title p {
    font-family: Brandon_reg;
    font-size: 22px;
    font-weight: 400;
    color: #777777;
}

.single_team {
    width: 25%;
    margin-left: 40px;
    float: left;
}

.team_member_photo {
    margin-top: 60px;
    margin-left: 3px;
}

.single_team h4 {
    font-family: Brandon_bld;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.single_team p {
    font-family: Brandon_bld;
    text-align: center;
    line-height: 1.6;
}

.single_team ul {
    margin-top: 10px;
    overflow: hidden;
    padding-left: 30px;
    list-style: none;
}

.single_team ul li {
    float: left;
    padding: 0 10px;
}

.single2 {
    margin-left: 10px;
}

.single3 {
    margin-left: 35px;
}

.team_comment {
    width: 40%;
    margin: 0 auto;
}

.team_comment p {
    margin-top: 45px;
    font-family: Brandon_bld;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

/* team section end */
/* team section end */
.contact {
    width: 100%;
    background-color: #7690c5;
}

.communication {
    margin: 0 auto;
    width: 65%;
    overflow: hidden;
}

.contact_wrapper {
    margin: 60px 0;
    width: 47%;
    float: left;
}

.contact_wrapper:last-child {
    margin: 60px 0;
    float: right;
    width: 47%;
}

.sayhello {
    margin-bottom: 25px;
    color: #ffffff;
}

.sayhello h2 {
    font-family: Brandon_light;
    font-size: 60px;
    font-weight: 300;
    text-transform: capitalize;
    display: inline-block;
}

.sayhello h2 span {
    font-family: Brandon_bld;
    font-size: 60px;
    font-weight: 700;
}

.sayhello p {
    margin: 5px;
    font-family: Brandon_bld;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
}

.single_link {
    margin-top: 17px;
    margin-bottom: 15px;
    width: 49%;
    overflow: hidden;
    font-family: Brandon_bld;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    color: #ffffff;
}

.link_icon {
    display: inline-block;
}

.link_icon img {
    padding-top: 10px;
    overflow: hidden;
    display: inline-block;
}

.link_text {
    display: inline-block;
    padding-left: 10px;
}

.link_text p {
    display: inline-block;
}

.submit_section {
    margin-right: 3px;
}

.name {
    font-family: "Brandon Grotesque";
    font-size: 16px;
    font-weight: 500;
    color: #bbbbbb;
    border: 0;
}

.name input {
    width: 430;
    height: 60px;
    margin: 15px;
    padding: 15px 10px;
    font-family: "Brandon Grotesque";
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    border: 1px solid #dddd;
    border-radius: 3px;
}

.name input:focus {
    outline: 0;
}

.email {
    font-family: "Brandon Grotesque";
    font-size: 16px;
    font-weight: 500;
    color: #bbbbbb;
    border: 0;
}

.email input {
    width: 430px;
    height: 60px;
    margin: 15px;
    padding: 15px 10px;
    font-family: "Brandon Grotesque";
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    border: 1px solid #dddd;
    border-radius: 3px;
}

.email input:focus {
    outline: 0;
}

.message {
    font-family: "Brandon Grotesque";
    font-size: 16px;
    font-weight: 500;
    color: #bbbbbb;
}

.message textarea {
    width: 430px;
    margin: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 150px;
    font-family: "Brandon Grotesque";
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    border: 1px solid #dddd;
    border-radius: 3px;
}

.message textarea:focus {
    outline: 0;
}

/* submin end */

/* footer start*/

footer {
    width: 100%;
    background-color: #7690c5;
}

.f_text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #87a0d2;
}

.f_text p {
    padding: 30px 0;
    font-family: Brandon_med;
    color: #ffffff;
}

/* footer end*/
